<div class="page">

    <div class="row">
        <div class="col-md-8">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> LogUser</strong></div>
                
                <div class="panel-body" ng-controller=" createloguser">
                  <!--DEmo###############################################-->
                  
                  <!--DEmo###############################################-->
                   <div class="msg"> {{demo}} </div>       
                    <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">
                        
                    </form>      
                </div>
            </section>
        </div>
        </div>
    </div>