<div class="page">

    <div class="row">
        <div class="col-md-8">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Tag</strong></div>
                
                <div class="panel-body" ng-controller="createtag">
                  <!--DEmo###############################################-->
                    {{tag}}
                  <!--DEmo###############################################-->
                          
                    <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" class="form-control" ng-model="tag.name" placeholder="Name">
                        </div>
                        
                        <button type="submit" ng-click="create(tag)" class="btn btn-success btn-primary">Submit</button>

                    </form>      
                </div>
            </section>
        </div>
        </div>
    </div>