<div class="page">

    <div class="row">
        <div class="col-md-8">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Catelog</strong></div>
                
                <div class="panel-body">
                  <!--DEmo###############################################-->
                    {{catelog}}
                  <!--DEmo###############################################-->
                          
                    <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" class="form-control" ng-model="catelog.name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Order</label>
                            <input type="text" class="form-control" ng-model="catelog.order" placeholder="Order">
                        </div>
                        
                        <label for="exampleInputEmail1">Parend</label>
                       <div>
                        <span class="ui-select">
                            <select  ng-model="catelog.parent" >
                                <option ng-repeat="value in getparent" value="{{value.id}}">{{value.name}}</option>
                            </select>
                        </span>
                        </div>
                        <button type="submit" ng-click="update(catelog)" class="btn btn-success btn-primary">Update</button>

                    </form>      
                </div>
            </section>
        </div>
        </div>
    </div>