<div class="page">

    <div class="row">
        <div class="col-md-8">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> User</strong></div>
                
                <div class="panel-body" ng-controller="user">
                  <!--DEmo###############################################-->
                  
                  <!--DEmo###############################################-->
                   <div class="msg"> {{usermessage}} </div>       
                    <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" class="form-control" ng-model="user.name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">User Name</label>
                            <input type="text" class="form-control" ng-model="user.username" placeholder="User Name">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="">Password</label>
                                    <input  type="password"
                                            class="form-control"
                                            required
                                            name="type_something"
                                            data-ng-trim='false'
                                            ng-model="user.password"
                                    >                        
                                    <span></span>
                                </div>
                                <div class="col-md-6">
                                    <label for="">Confirm Password</label>
                                    <input  type="password"
                                            class="form-control"
                                            required
                                            name="confirm_type"
                                            data-ng-trim='false'
                                            ng-model="user.password"
                                    >                        
                                    <span></span>
                                </div>
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" ng-model="user.email" id="exampleInputEmail1" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mobile</label>
                            <input type="text" class="form-control" ng-model="user.mobile" placeholder="Mobile">
                        </div>
                        
                        <div class="form-group">
                            <label for="exampleInputEmail1">AccessLevel</label>
                            <div>
                        <label class="ui-radio"><input name="radio1" ng-model="user.accessleve" type="radio" value="1" ><span>Admin</span></label>
                        <label class="ui-radio"><input name="radio1" ng-model="user.accessleve" type="radio" value="2" checked><span>Dealer</span></label>
                        <label class="ui-radio"><input name="radio1" ng-model="user.accessleve" type="radio" value="3"><span>Sales</span></label>
                        </div>
                        </div>
                        <button type="submit" ng-disabled="!canSubmit()" ng-click="create(user)" class="btn btn-success btn-primary">Submit</button>
                    </form>      
                </div>
            </section>
        </div>
        </div>
    </div>