<div class="page">

    <div class="row">
        <div class="col-md-8">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> City</strong></div>
                
                <div class="panel-body" ng-controller="createcity">
                  <!--DEmo###############################################-->
                  
                  <!--DEmo###############################################-->       
                    <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">
                        <span class="ui-select">
                            <select ng-model="state.zone">
                                <option ng-repeat="value in getstate"  ng-model="zoneselect">{{value.name}}</option>
                            </select>
                            {{demo}}
                        </span>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" class="form-control" ng-model="city.name" placeholder="Name">
                        </div>
                        <a href="#/zone/city">
                        <button type="submit" ng-click="create(city.name)" class="btn btn-success btn-primary">Submit</button>
    </a>
                    </form>      
                </div>
            </section>
        </div>
        </div>
    </div>