<div class="page">

    <div class="row">
        <div class="col-md-9">
           
           <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Zone</h3>
                </div>
    <!---##############################################START ZONE####################################################333-->
                <div class="panel-body">
                  
                    <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" class="form-control" ng-model="zone.name" placeholder="Name">
                        </div>
                        <a href="#/zone/zone">
                        <button type="submit" ng-click="update(zone)" class="btn btn-success btn-primary">Update</button>
    </a>
                    </form> 
                    
                </div>
    <!---##############################################End ZONE####################################################333-->
    
            </div>
           
        </div>
    </div>