<div class="page">

    <div class="row">
        <div class="col-md-9">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Distributor</strong>
                
                </div>
                
                <div class="panel-body" ng-controller="distributor">
                  <!--DEmo###############################################-->
                  
                  <!--DEmo###############################################-->
                  <div class="bot">
               <a href="#/distributor/createdistributor" class="right btn btn-primary">Create Distributor</a>
                </div>
                     <div ng-show="visibletable">    
                     <!--table loguser######################################-->
                     <table class="table table-bordered table-striped">
                        <thead><tr class="bg-dark">
                            <th class="text-center">ID</th>
                            <th class="text-center">NAME</th>
                            <th class="text-center">CODE</th>
                            <th class="text-center">COMPANY NAME</th>
                            <th class="text-center">EMAIL</th>
                            <th class="text-center">CONTACT NUMBER</th>
                            <th class="text-center">DATE OF BIRTH</th>
                            <th colspan="2" class="text-center">OPERATIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="value in find">
                            <td class="text-center">{{value.id}}</td>
                            <td class="text-center">{{value.name}}</td>
                                <td class="text-center">{{value.code}}</td>
                                <td class="text-center">{{value.componyname}}</td>
                                <td class="text-center">{{value.email}}</td>
                                <td class="text-center">{{value.contactno}}</td>
                                <td class="text-center">{{value.dob}}</td>
                                <td class="text-center"><a href="#/distributor/delete/{{value.id}}" class="btn btn-primary"><i class="fa fa-times"></i></a></td>
                                <td class="text-center"><a href="#/distributor/edit/{{value.id}}" class="btn btn-primary">
                                <i class="fa fa-pencil-square-o"></i></a></td>
                            </tr>
                        </tbody>
                    </table> 
                    </div>
                     
        </div>
        </section>
        </div>
    </div>